/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}
a {
  color: #013220;
}
.evelistg a {
  text-decoration: underline;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E6E6E6 !important;
  opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E6E6E6 !important;
  opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E6E6E6 !important;
  opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
   color: #E6E6E6 !important;
  opacity: 0.3;
 }
::placeholder { /* Firefox 18- */
  color: #E6E6E6 !important;
  opacity: 0.3;
}
.btn-primary,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
  color: #fff;
  background-color: #00964A;
  border-color: #00964A;
}
.btn-primary:hover {
  color: #fff;
  background-color: #006243;
  border-color: #006243;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link.cenavbtn {
  color: #000;
  background: #F6EB0F;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 16px;
  padding-left: 12px;
}
.maintop {
  background: url(../../assets/images/bg.jpg) no-repeat scroll center center / cover;
  min-height: 300px;
  max-width: 100%;
  min-width: 100%;
  padding: 60px 0;
  text-align: center;
}
.maintop h1 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.maintop h1 span {
  font-size: 36px;
}
.maintop p {
  color: #fff;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
.mainsecond {
  min-height: 300px;
  background: #fff;
  padding: 80px 0;
}
.mainsecond .card-header {
  font-size: 20px;
  font-weight: bold;
}
.mainsecond h3 {
  font-size: 16px;
}
.mainsecond a:hover {
  text-decoration: none;
}
.mainsecond p {
  margin: 0;
  padding: 0;
}
.maintrd {
  min-height: 100px;
  background: #51595C;
  text-align: center;
  padding: 30px 0;
  text-transform: capitalize;
  color: #fff;
}
.maintrd h4 {
  font-size: 28px;
}
.maintrd a {
  background: #F6EB0F;
  border: 1px solid #F6EB0F;
  font-weight: 600;
}
.mainfr {
  min-height: 100px;
  background: #F7F7F7;
  text-align: center;
  padding: 50px 0 80px;
  color: #51595C;
}
.mainfr i {
  border: 1px solid #51595C;
  color: #51595C;
  border-radius: 100px;
  padding: 34px 30px;
  font-size: 40px;
  margin-bottom: 10px;
}
.mainfr h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 30px;
}
.consection {
  margin: 30px 0;
}
.card-title {
  font-size: 20px;
}
.maintitle {
  font-size: 22px;
  text-align: center;
  margin: 20px 0;
  color: #00964A;
  font-weight: 500;
  text-transform: uppercase;
}
.homehr {
  margin-top: 6px;
  margin-bottom: 6px;
}
.evesubtitle {
  font-size: 24px;
}
.bg-dark {
  background-color: #00964A!important;
}
.lead {
  font-size: 14px;
  font-weight: 300;
}
.postfm {
  border: 1px solid #eee;
  padding: 30px;
}
.postfm h1 {
  font-size: 22px;
}
.proimg {
  text-align: center;
  margin: 10px 0;
}
.proimg img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.profilesec {
  margin: 10px 0;
}
.profilesec .card {
  margin-bottom: 10px;
}
#ce_banner_image {
  width: 140px;
  height: 80px;
  margin: 10px;
}
.postfm label {
  font-size: 18px;
  font-weight: 500;
  color: #006243;
}
.postfm label.form-check-label,.postfm label.custom-file-label {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}
.postfm label span.cereq {
  color: red;
}
.auth-holder {
  width: 80%;
  padding: 10px 20px 20px;
  margin: 0 auto;
  background: #E6E6E6;
}
.auth-holder h1 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
}
.auth-logo-holder {
  width: 80%;
  margin: 0 auto;
  background: #00964A;
  text-align: center;
  padding: 10px 0;
}
.auth-foot {
  width: 80%;
  margin: 0 auto;
  background: #222222;
  text-align: center;
  padding: 10px;
}
.auth-foot p {
  padding: 0;
  margin: 0;
}
.auth-foot p a {
  color: #ccc;
}
.pagination a {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination a:hover {
  background: #00964A;
  color: #fff;
}
.pagination .active a {
  background: #00964A;
  color: #fff;
}
.list-group-item.active {
  background-color: #00964A;
  border-color: #00964A;
}
.evepagelink {
  background: #f1ebeb;
  padding: 4px 6px 6px 6px;
}
.evepagelink:hover {
  background: #00964A;
  color: #fff;
  text-decoration: none;
}
.nav-pills.eve-nav .nav-link {
  border-radius: .25rem;
  border: 1px solid #ccc;
  margin-left: 8px;
}
.city-alpha,.city-view ul {
  display: block;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}
.city-alpha li {
  padding: 2px 8px;
  border-right: 1px solid #ccc;
  display: inline-block;
  text-align: center;
  float: left;
}
.city-view {
  margin-top: 40px;
}
.city-view h3 {
  text-align: center;
}
.city-view ul li {
  padding: 4px 8px;
  display: inline-block;
  text-align: center;
  float: left;
}
.dropdown-item:focus {
  background: #00964A;
}
.statetitle {
  background: #00964A;
  color: #fff;
  font-weight: bold;
}
.stateul {
  margin-bottom: 30px;
}
.navbar {
  padding: 0 1rem;
}
.gsensevertical {
  height: auto;
  margin: 10px;
  text-align: center;
}
.foot {
  background: #272727;
  padding: 10px 0 30px 0;
}
.foot a {
  color: #ccc;
}
.foot h4 {
  font-size: 18px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 2px dotted #00964A;
}
.foot h4 span {
  color: #00964A;
}
.foot p {
  color: #ccc;
}
.foot ul {
  padding-right: 60px;
}
.foot .list-group-item {
  background-color: transparent;
  padding: .75rem 0;
  border: 0;
  border-bottom: 1px dotted #ccc;
}
.foot .list-group-item a {
  color: #ccc;
}
.foot .list-group-item a:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  background: #222222;
  padding: 20px;
}
footer p {
  color: #ccc;
  font-size: 14px;
}
.eviewholder p {
  margin: 0;
}
.eshareholder ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.eshareholder ul li {
  list-style: none;
  padding: 2px;
}
.eshareholder ul li a {
  font-size: 26px;
}
.eshareholder ul li.fb a {
  color: #273F6A;
}
.eshareholder ul li.tw a {
  color: #1FB2F7;
}
.eshareholder ul li.wup a {
  color: #00BC00;
}
.statich {
  font-size: 20px;
}
.subscribeholder {
  padding: 20px 0 0;
  background: #00964A;
}
.subscribeholder h3 {
  font-size: 26px;
  color: #F6EB0F;
  text-align: center;
  margin-bottom: 14px;
}
.subscribeholder .btn-primary {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  text-transform: uppercase;
}
.callmob {
  font-size: 18px;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  text-align: center;
  width: 100%;
  display: none;
}
.callmobin {
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  border-radius: 100px;
  background: #3DC741;
}
.callmob a,.callmob a:hover {
  color: #000;
  text-decoration: none;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 992px) {
  .callmob {
    display: block;
  }
}
